.app{
   height: 100vh;
}
.sections{
    width: 100%;
    height: calc(100vh - 80px);
    background-color: lightsalmon;
    position: relative;
    scroll-behavior: smooth;
    top: 80px;
    scroll-snap-type:y mandatory;
    scrollbar-width: none; /*for firefox*/
    &::-webkit-scrollbar{
        display: none;
    }/* for chrome and age and whatever*/
    > *{
    width: 100%;
    height: calc(100vh - 80px);
    scroll-snap-align: start;
    }
}
